extends layouts/layout

block body 
    .firstcontent
        .leftblock 
            p.transform Transform your NFTs 
            .text
                p into loans.
                p instantly #[div.dot .]
                p Fast. Easy. Safe.
            .buttontext 
                button Borrow now 
                a(href='#') I want to lend instead

        .rightblock
            .purpleblock 
                img(src="img/monkey.png", alt="")
            .purpleblock 
                img(src="img/pinguin.png", alt="")
            .purpleblock 
                img(src="img/rainbowman.png", alt="")