
                            @font-face {
                                font-family: Montserrat; 
                                font-style: normal;
                                font-weight: 400; 
                                src: url("../fonts/Montserrat-BoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-BoldItalic.woff") format("woff"); 
                                font-display: swap; 
                            }

                            @font-face {
                                font-family: Montserrat; 
                                font-style: normal;
                                font-weight: 800; 
                                src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff"); 
                                font-display: swap; 
                            }

                            @font-face {
                                font-family: Rurintaniac; 
                                font-style: normal;
                                font-weight: 400; 
                                src: url("../fonts/Rurintaniac.woff2") format("woff2"), url("../fonts/Rurintaniac.woff") format("woff"); 
                                font-display: swap; 
                            }
